[submodule "src/px4_msgs"]
	path = src/px4_msgs
	url = https://github.com/PX4/px4_msgs.git
[submodule "vendor/drone_manual_control"]
	path = vendor/drone_manual_control
	url = https://github.com/hinata-koizumi/drone_manual_control
